datacenter = "{{ nomad_datacenter }}"
data_dir = "/var/lib/nomad"
bind_addr =  "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = 3
}

client { 
  enabled           = true
} 

vault {
  enabled          = true
  address          = "http://0.0.0.0:8201"
  token            = "{{ vault_initial_root_token }}"
}