<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<match **>
  @type elasticsearch
  host {{ elastic_search_host }}
  port {{ elastic_search_por}}
  logstash_format true
  logstash_prefix fluentd
  logstash_dateformat %Y%m%d
  include_tag_key true
  type_name elasticsearch
  tag_key @log_name
</match>